CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode/
.idea/
build/
cmake-build-debug/
.vs/
lib/.vs/
lib/.vs/Discretas/v17/ipch/AutoPCH/ed2e888a88380dca/DISCRETAS.ipch
